/*
body 
{ 
	background-color: White;
    font-family: sans-serif;
}
*/
blockquote {
	border-left: 2px dotted #888;
	padding-left: 5px;
	background: #d0f0ff;
}

.wmd-panel {
	margin-left: 10px;
	margin-right: 10px;
	width: 650px;
	min-width: 650px;
}

.wmd-button-bar {
	width: 100%;
	background-color: Silver;
}

.wmd-input {
	height: 300px;
	width: 647px;
	background-color: White;
	border: 1px solid DarkGray;
}

.wmd-preview {
	margin-top: 5px;
	background-color: White;
	border: 1px dotted Gray;
	min-height: 5px;
	width: 650px;
}

.wmd-button-row {
	position: relative;
	margin-bottom: 5px;
	margin-top: 10px;
	padding: 0px;
	height: 20px;
}

.wmd-spacer {
	width: 1px;
	height: 20px;
	margin-left: 14px;
	position: absolute;
	background-color: Silver;
	display: inline-block;
	list-style: none;
}

.wmd-button {
	width: 20px;
	height: 20px;
	padding-left: 2px;
	padding-right: 3px;
	position: absolute;
	display: inline-block;
	list-style: none;
	cursor: pointer;
}

.wmd-button>span {
	background-image: url(../images/wmd-buttons.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	width: 20px;
	height: 20px;
	display: inline-block;
}

.wmd-spacer1 {
	left: 50px;
}

.wmd-spacer2 {
	left: 175px;
}

.wmd-spacer3 {
	left: 300px;
}

.wmd-prompt-background {
	background-color: Black;
}

.wmd-prompt-dialog {
	border: 1px solid #999999;
	background-color: #F5F5F5;
}

.wmd-prompt-dialog>div {
	font-size: 0.8em;
	font-family: arial, helvetica, sans-serif;
}

.wmd-prompt-dialog>form>input[type="text"] {
	border: 1px solid #999999;
	color: black;
}

.wmd-prompt-dialog>form>input[type="button"] {
	border: 1px solid #888888;
	font-family: trebuchet MS, helvetica, sans-serif;
	font-size: 0.8em;
	font-weight: bold;
}

.createpost-title {
	margin-left: 10px;
	margin-right: 10px;
	width: 650px;
	min-width: 650px;
}

.createpost-categories {
	margin-top: 5px;
	margin-left: 10px;
	margin-right: 10px;
	width: 650px;
	min-width: 650px;
}

.createpost-categories-tf {
	margin-left: 40px;
	width: 100%;
}

.createpost-title-tf {
	margin-left: 80px;
	width: 100%;
}