@CHARSET "UTF-8";

html {
	min-height: 100%;
	font-family: sans-serif;
	font-size: 10pt;
}
body {
    margin: 0;	
    /* can be treated like a fallback */
	background-color: #DfDfDf;
	
	/* will be "on top", if browser supports it */
	/*background-image: linear-gradient(	#bfbcc5, #0A0A0A); */
}
div .loginContainer a:link {color:#FFFFFF;}      /* unvisited link */
div .loginContainer a:visited {color:#FFFFFF;}  /* visited link */
div .loginContainer a:hover {color:#FFFFFF;}  /* mouse over link */
div .loginContainer a:active {color:#FFFFFF;}  /* selected link */
.topBar {
	height: 32px;
	background-color: #595959;
	color: #efefef;
}
.topBarLinks a:visited {
    color: #E0E0E0;
    display: inline-block;
    font-size: 13px;
    height: 24px;
    padding: 10px 7px 0;
    text-decoration: none;
    vertical-align: top;
}
.topBarContainer {
	width: 980px;
	height: 34px;
	margin: 0 auto;
	padding-bottom: 15px !ie7;			
}
.loginContainer {
	text-align: right;
	padding-top: 5px;
	padding-right: 5px;
	width: 160px;
	float: right;
}
.container {		
	margin: 0;
	padding: 0;
	border: 0;
	background-color: #FFFFFF;
}
.header {
	width: 980px;
	height: 76px;
	margin: 0 auto;
	padding-bottom: 15px !ie7;
}
.headerLogo {
	width: 250px;
	float: left;
}
.headerMenu {
	float: left;
	padding: 10px 0 20px 5px;
	margin-top: 0px;
	width: 720px;
}
.content {
	width: 980px;
	margin: 0 auto;
}
.contentTitleContainer {
}
.contentBody {
	padding-top: 20px;
	padding-bottom: 50px;
}
.bottomBar {
	/*background-color: #336699;*/
	background-color: transparent;
	padding: 0;
}
.footer {
	width: 980px;
	height: 76px;
	margin: 0 auto;
	padding: 0;
	color: #777777;
}
.footerTop {
	background-color: #FFFFFF;
	width: 980px;
	height: 20px;			
	margin: 0 auto;
	padding: 0;
}	
.errorMsg {
	color: red;
}